 <!--<nav>
  <div class="container">
    <div class="logo">
      <div id="logo"><a  href="#"><img src="https://media.discordapp.net/attachments/967535536141131799/970010349652828220/Logo_para_instagram.png" alt=""></a></div>
    </div>
    <ul class="menu">
      <div class="menu2">
        
        <li><a href="#">Parceiros</a></li>
        <li><a href="#">Projeto GreenPlanet</a></li>
        <div class="navbarDropdown">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
              SAIBA MAIS
            </a>
          </li>
            <div class="dropdown-menu" id="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item1" id="a" href="#">Pesquisas recentes</a>
              <a class="dropdown-item" id="a" href="#">Financiamentos reais</a>
              <a class="dropdown-item" id="a" href="#">Mercado nacional</a>
              <a class="dropdown-item" id="a" href="#">Negócio</a>
            </div>
        </div>      
      </div>             
    </ul>
  </div>
</nav> -->


<nav id="bg-img-sec-1" class="navbar navbar-expand-lg navbar-light ">

  <a class="navbar-brand ml-menu" routerLink="/home"><img src="https://media.discordapp.net/attachments/967535536141131799/970010349652828220/Logo_para_instagram.png" alt="Logo GreenPlanet"></a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mg-menu">
      <li class="nav-item ">
        <a class="nav-link ft-p" routerLink="register"> <p class="ft-p">Parceiros </p></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link ft-p" routerLink="providers"> <p class="ft-p">GreenPlanet </p></a>
      </li>
      <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle ft-p" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
          <p>SAIBA MAIS</p> 
        </a>
        <div class="dropdown-menu " aria-labelledby="navbarDropdown">
          <a class="dropdown-item " href="#"> <p class="ft-p">Pesquisas recentes</p> </a>
          <a class="dropdown-item ft-p" href="#"> <p class="ft-p"> Financiamentos reais</p> </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item ft-p" href="#"> <p class="ft-p">Mercado nacional</p> </a>
          <a class="dropdown-item ft-p" href="#"> <p class="ft-p">Negócio</p> </a>
        </div>
      </li>
    </ul>
    
  </div>
</nav>