<div id="bg" class="container-fluid " >
  <div class="row justify-content-center" >


    <div class="row justify-content-center ">
    
      <div class="col-12 d-flex justify-content-center">
        <div class=" mt-4 ">
          <div class="card-body bg-bt-forum ">
            <p class="card-info">
              Não se preocupe, suas informações pessoais não <br> serão divulgadas, 
              apenas o nome da empresa <br> para fazermos a divulgação.
             </p>
          </div>
        </div>
      </div>
     
    </div>
          
          <div class="row justify-content-center">
            <div class="col-4"></div>
            
            <div class="col-4 d-flex justify-content-center">
              <div class="card-body mb-3 mt-5" id="tela-login">                 
                 
                  <!--Formularios de cadastro-->
                  <div class="form-group">
                      <input [(ngModel)]='usuario.nome' class="form-control text-white border-white bg-transparente mt-4 mb-3" type="text" name="nome" id="usuario" placeholder="Digite seu nome">
                  </div>
                  <div class="form-group">
                      <input [(ngModel)]='usuario.usuario' class="form-control text-white border-white bg-transparente mb-3" type="text" name="usuario" id="usuario" placeholder="Digite seu email">
                  </div>
                
                  <div class="form-group">
                      <input (input)="confirmeSenha($event)" class="form-control text-white border-white bg-transparente mb-3" type="password" name="senha" id="senha" placeholder="Digite sua senha">
                  </div>
                  <div class="form-group">
                      <input [(ngModel)]='usuario.senha' class="form-control text-white border-white bg-transparente mb-3" type="password" name="senha" id="confirmSenha"
                          placeholder="Confirme sua senha">
                  </div>
                  <!--Formularios de cadastro-->

                 <!-- Botoes do formulario de cadastro -->
                  <div class="d-flex justify-content-center mt-4">
                      <button type="submit" routerLink= "/register" class="btn  btn-dark cor-cancel text-white bt-cancel">Cancelar</button>
                      <button (click)="cadastrarUsuario()" type="submit" class="btn btn-white border-white bg-light text-dark" >Cadastrar</button>
                  </div>
                 <!-- Botoes do formulario de cadastro-->
              </div>    
            </div>
            <div class="col-4"></div>
          </div>
  </div>
</div>