<div class="container-fluid" id="bg-img-sec-1">
  <div class="row " >
    <div class="col-12">
      <div id="texto">
        <h1 class="mb-3 mt-5">Parcerias de peso <br>e tecnologia de ponta</h1>
        <h5 class="mb-5">As alianças que geram transformações extraordinárias <br> no futuro da sua empresa</h5>
        <div class="facaparte">
          <a id="" href="#">
            <button routerLink="/login" type="button" class="btn btn-lg text-white mt-2 mb-2 ">Faca parte</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container bg-fundo">
 
  <div class="row">
    <div class="col-3"></div>
    <div class="col-8">
      <div class="card-group mt-5 mb-5">
        <div class="card bg-postagens mr-4">
          <div class="card-body bg-postagens ">
            <p class="ft-card mt-4">Diminuição de até 80% da emissão dos gases de efeito estufa produzidos pelo rebanho <br> (metano) <br></p>
            <img class="mt-2 mb-2" src="https://i.imgur.com/gCL1Pce.png" alt="" style="width: 250px; height: 210px;">
            <p class="ft-card mb-5">A alga taxiformis reduz a quantidade de metano que o animal emite em mais de 90%. Já que 6% das emissões mundiais de gases de efeito estufa são provenientes do gado. </p>
            
          </div>
        </div>
        <div class="card mr-4">
          <div class="card-body bg-postagens">
            <p  class="ft-card mt-4">Incentivamos a que cada vez mais empresas, desde as de pequeno a grande porte, se adequem à novas formas de ganhar dinheiro</p>
            <img class="mt-2 mb-2" src="https://i.imgur.com/CMZQcnp.png" alt="" style="width: 250px; height: 210px;">
            <p class="ft-card mb-5">Uma nova maneira que pode não só contribuir com a economia do país como um todo, mas gerar um impacto de escala nacional na recuperação do meio <br> ambiente.
            </p>
            
          </div>
        </div>
        <div class="card">
          <div class="card-body bg-postagens">
            <p  class="ft-card mt-4">Empresas fazem trocas comerciais utilizando a macroalga em seus produtos, que tem função inibidora do metano</p>
            <img class="mt-2 mb-2" src="https://i.imgur.com/DX2qe0r.png" alt="" style="width: 250px; height: 210px;">
            <p class="ft-card mb-5">O que resulta em visibilidade e atrai investidores para contribuir com mais pesquisas que trarão ainda maior evolução no processo de utilização da alga vermelha no combate às mudanças climáticas.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-1"></div>
  </div>    
  
</div>
  
<!-- Sessao card-->

<div class="container">
  
  <div class="row">

    <div class="col-12">
      <div class="card text-white bg-azuzinho mb-3" style="width: 70rem;
      margin-right: -99px; height: 550px;">
  
            <div class="card-body" style="margin-bottom: 15rem;">
              <div class="row">
                <div class="col-1"></div>
                <div class="col-5">
                  <img class="mt-4 mb-3" src="https://i.imgur.com/4AICI9R.png" alt="" >
                </div>
                
                <div class="col-6">
                  <div class="row justify-content-center ">
                    <div class="col-12 d-flex justify-content-center">
                      <div class=" mt-4 ">
                        <div class="card-body bg-bt-forum " style="  margin-top: 75px;
                      ">
                          <p class="card-info mt-5 mb-5">
                            Além do considerável impacto positivo ambiental, é também <br>uma forma alternativa de suplemento para esses animais.
                           </p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row justify-content-center ">
                    <div class="col-12 d-flex justify-content-center">
                      <div class=" mt-4 ">
                        <div class="card-body bg-bt-forum ">
                          <p class="card-info mt-5 mb-5">
                            Foi constatado que houve melhorias na saúde dos olhos,<br> pelagem e pele dos rebanhos avaliados. E até o <br> presente momento não houve relatos na alteração do peso.   
                           </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
      </div>      
    </div>        
  </div> 
</div>

