<div class="container-fluid fundo">
  <div class="container">
    <div class="row ">


       <!--TODAS AS POSTAGENS-->
       <div class="col-md-12">

        <div class="container mb-5 mt-5" id="postagens">
          <div class="tab-content mt-5" id="nav-tabContent">
            <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel" aria-labelledby="nav-todasPostagens-tab">
              <div class="row">
                <div class="col-md-12 ">

                  <div class="card bg-postagens mb-3" style=border-radius:15px; *ngFor='let item of listaPostagens'>
                    <div class="row no-gutters">
                      <div class="col-md-3">
                        <img src="{{item.arquivo}}" alt="Foto da empresa" style="width: 250px; height: 200px;">
                      </div>
                      <div class="col-md-9">
                        <div class="card-body">
                          <h5 class="card-title mb-4">{{item.titulo}}</h5>
                          <p class="card-text">{{item.texto}}</p>
                          <p class="card-text"><small class="text-muted">{{item.contato}}</small></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!--/TODAS AS POSTAGENS-->

      <div class="Postagens">
        <div class="modal-body bg-transparente-menu justify-content-center " style=border-radius:15px;>
          <h5 class="mb-4 mt-3 text-dark text-center">QUERO SER UM PARCEIRO</h5>
          <div class="form-group">
            <p class="text-dark  mt-4" >Quer ser um parceiro da Green Planet? Faça sua conta e cadastre sua empresa no nosso banco de dados! <a routerLink="login">Cadastre-se aqui.</a>  Assim sua empresa podera ser encontrada por centenas de produtores e acessando uma rede exclusiva de negocios.</p>
            <p class="text-dark  mb-4" >Caso voce ja tenha uma conta, basta fazer a publicacao da sua empresa no campo abaixo. </p>
          </div>

          <div class="facaparte ">
            <a id="" href="#">
              <button routerLink="/login" type="button" class="btn btn-lg text-white mt-2 mb-2 ">Faca parte</button>
            </a>
          </div>


      </div>  

      <hr>
      <!--Postagens-->
      <div class="Postagens">
        <div class="modal-body bg-transparente-menu " style=border-radius:15px;>
          <h5 class="text-dark text-center mb-3">Envie as informacoes da sua empres aqui!</h5>
          <div class="form-group">
            <input [(ngModel)]="postagem.titulo" type="text" class="form-control text-dark bg-transparente border-dark mb-2" id="titulo" placeholder="Nome da empresa">
          </div>

          <div class="form-group ">
            <textarea [(ngModel)]='postagem.texto' class="form-control text-dark bg-transparente border-dark mb-2" name="texto" placeholder="Descrição da empresa e produto" id="texto" rows="3"></textarea>
          </div>

          <div class="form-group ">
            <input [(ngModel)]="postagem.arquivo" type="text" class="form-control text-dark bg-transparente border-dark mb-2" id="foto" placeholder="Link da foto">
          </div>

          <div class="form-group ">
            <input [(ngModel)]="postagem.usuario.tipo" type="text" class="form-control text-dark bg-transparente border-dark mb-2" id="contato" placeholder="Contato">
          </div>
          <div class="modal-footer text-dark">
            <button routerLink="/post" type="button" class="btn btn-danger">Cancelar</button>
            <button type="button" class="btn btn-primary" (click)='publicar()'>Publicar</button>
          </div>
        </div>

        <hr>
        
      </div>  
      <!--/Postagens-->    
      
     
    </div>
  </div>
</div>

